<html>
<head>
  <title>Usage jira admin config</title>
  <meta name="decorator" content="atl.admin">
</head>
<body>
<form id="admin" class="aui left-label">
  <div class="form-body">
    <div class="field-group">
      <label for="host">
        Host
        <span class="aui-icon icon-required"></span>
      </label>
      <input type="text" id="host" name="domain" class="text">
    </div>
    <div class="field-group">
      <label for="ip">
        IP
        <span class="aui-icon icon-required"></span>
      </label>
      <input type="text" id="ip" name="client-id" class="text">
    </div>
    <div class="field-group">
      <label for="port">
        Port
        <span class="aui-icon icon-required"></span>
      </label>
      <input type="text" id="port" name="client-secret" class="text">
    </div>
    <div class="field-group">
      <label for="product-code">
        Product Code
        <span class="aui-icon icon-required"></span>
      </label>
      <input type="text" id="product-code" name="client-secret" class="text">
    </div>
    <div class="field-group">
      <label for="user-list-api-url">
        User list API URL
        <span class="aui-icon icon-required"></span>
      </label>
      <input type="text" id="user-list-api-url" name="client-secret" class="text">
    </div>
    <div class="field-group">
      <label for="user-list-api-key">
        User list API Key
        <span class="aui-icon icon-required"></span>
      </label>
      <input type="text" id="user-list-api-key" name="client-secret" class="text">
    </div>
    <div class="field-group">
      <label for="user-count-api-url">
        User count API URL
        <span class="aui-icon icon-required"></span>
      </label>
      <input type="text" id="user-count-api-url" name="client-secret" class="text">
    </div>
    <div class="field-group">
      <label for="user-count-api-key">
        User count API Key
        <span class="aui-icon icon-required"></span>
      </label>
      <input type="text" id="user-count-api-key" name="client-secret" class="text">
    </div>
    <div class="form-footer">
      <div class="buttons-container">
        <div class="buttons">
          <input type="submit" value="Save" class="aui-button" id="save-button">
        </div>
      </div>
    </div>
  </div>
</form>
</body>
</html>
