<html>
<head>
    <title>Usage jira admin config</title>
    <meta name="decorator" content="atl.admin">
</head>
<body>
<div id="app"></div>
<script type="module" src="../../../download/resources/com.sds.jira.plugin.usage-jira:admin-web-resources/usage-jira-configuration.js"></script>
<link rel="stylesheet" href="../../../download/resources/com.sds.jira.plugin.usage-jira:admin-web-resources/usage-jira-configuration.css">
</body>
</html>
