#set( $resourcePath = "../../../download/resources/com.sds.jira.plugin.usage-jira:usage-jira-configuration-web-resources" )
<html lang="en">
<head>
    <title>Usage jira admin config</title>
    <meta name="decorator" content="atl.admin">
</head>
<body>
<div id="app"></div>
<script type="module" src="$resourcePath/usage-jira-configuration.js"></script>
<link rel="stylesheet" href="$resourcePath/usage-jira-configuration.css">
</body>
</html>
